*{
	margin:0;
	padding: 0;
}
body {
	background: #1a1a1a;
	font-family: 'Merienda One', cursive;
	color: white;
	height: 700px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1em 25em 15px 40vw;
	grid-template-areas: 
	". controls . canvas"
	". controls . canvas";
}

canvas {
	margin-top: 16%;
	/* This centers our sketch horizontally. */
	justify-content:left;
	/* This centers our sketch vertically. */
	align-items: center;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	background: black;
	border-radius: 15px;
	width: 50vw;
	height: 31.25vw;
	grid-area: canvas;
}

#controls{
	margin-right: 10px;
	margin-top:5%;
	height: 46em;
	background-color: #353535;
	border-radius: 15px;
  width: 25em;
	grid-area: controls;
}

section{
	margin: 1em;
}
.name{
	font-size: 2em;
	text-align: center;
	margin-left: 15%;
}

button[data-playing="yes"]:after{
	content: "Pause";
}

button[data-playing="no"]:after{
	content: "Play";
}

/*The following code through the flexbox stuff was taken from w3schools's tutorials on buttons, sliders, checkmarks, and containers.  We adjusted the colors and sizes a bit.  You can find their website here: https://www.w3schools.com/*/

button {
	display: inline-block;
	padding: 10px 20px;
	font-family: 'Merienda One', cursive;
	font-size: 1.3em;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #929292;
	border: none;
	border-radius: 15px;
	box-shadow: white;
}

button:hover {background-color: #1a1a1a}

button:active {
  background-color: #1a1a1a;
  box-shadow: white;
  transform: translateY(4px);
}

.slider {
  -webkit-appearance: none;
  width: 15em;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1a1a1a;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1a1a1a;
  cursor: pointer;
}

/* The container */
.container1 {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 1.3em;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark1 {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark1 {
  background-color: #1a1a1a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark1:after {
  display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark1:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* The container */
.container2 {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 1.3em;
}

/* Hide the browser's default radio button */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark2 {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark2 {
  background-color: #1a1a1a;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark2:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/*End of w3schools*/

/*flexbox stuff*/
.flex-container{
	display: flex;
	flex-direction: column;
}
#progress {
  width: 1px;
  height: 3px;
  background: #006B5A;
  transition: width .1s linear;
}
/*responsiveness*/
@media (max-width: 640px){
	body {
		padding: 0;
		margin: 0;
		background: #1a1a1a;
		font-family: 'Merienda One', cursive;
		color: white;
		height: 700px;
		display: grid;
		grid-template-rows: 45vh 1fr;
		grid-template-columns:1fr;
		grid-template-areas: 
		"canvas"
		"controls";
	}
	canvas {
		margin-left: 0;
		margin-top: 5px;
		width: 100vw;
		height: 62.5vw;
		/* This centers our sketch horizontally. */
		justify-content:left;
		/* This centers our sketch vertically. */
		align-items: center;
		box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
		background: black;
		border-radius: 15px;
		grid-area: canvas;
	}

	#controls{
		margin-left:0;
		margin-top:0;
		background-color: #353535;
		border-radius: 15px;
		width: 100vw;
		height: 80vh;
		grid-area: controls;
	}
}

